html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-between;
}

.brand {
    font-size: 25px;
}

.brand, .nav-link {
    text-transform: uppercase;
    color: #303137;
}

.brand .bolt {
    margin: 0 5px;
}

.brand .twin {
    font-weight: 900;
}

.brand .volt {
    color: yellow;
    font-weight: 900;
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
}