/* ---  Default --- */
html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

/* ---  NavBar  --- */
.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.brand {
    font-size: 25px;
}

.brand, .nav-link {
    text-transform: uppercase;
    color: #303137;
}

.brand .bolt {
    margin: 0 5px;
}

.brand .twin {
    font-weight: 900;
}

.brand .volt {
    color: yellow;
    font-weight: 900;
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
}

.dropDownLink {
    display: none;
}

/* ---  Header  --- */
header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.header-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    width: 100%
}

.header-container h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    margin-top: 1.5rem;
}

/* ---  Services Section    --- */
.services {
    background-color: rgb(255, 255, 150);
    padding: 4rem 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
}

.media-object {
    display: flex;
}

.icon-left, .icon-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icon-left, .blurb-wrapper-left {
    order: 1;
}

.icon-1 {
    width: 256px;
    height: 178px;
}

.icon-2 {
    height: 178px;
}

.icon-3 {
    height: 178px;
}

.blurb-wrapper-right, .blurb-wrapper-left {
    flex: 1;
}

.blurb-wrapper-right, .icon-right {
    order: 2;
}

.blurb-header {
    font-size: 24px;
    margin-top: 0;
}

.blurb-info {
    color: #666;
    font-size: 18px;
}

/* ---  Mobile  --- */
@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
    }

    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropDownLink {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive li.dropDownLink {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
        line-height: 2rem;
    }

    ul.topnav.responsive li a.nav-link {
        display:block;
    }

    .dropDownMenu {
        text-decoration: none;
        color: #303137;
        font-size: 1.5rem;
    }

    .media-object {
        display: flex;
        flex-direction: column;
    }

    .media-object.middle {
        flex-direction: column-reverse;
    }
}