/* ---  Default --- */
html, body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
    font-size: 1rem;
    color: #303137;
    margin: 0;
}

/* ---  NavBar  --- */
.navbar {
    display: flex;
    padding: 10px;
    max-width: 1140px;
    width: 100%;
    margin: 0 auto;
    justify-content: space-around;
}

.brand {
    font-size: 25px;
}

.brand, .nav-link {
    text-transform: uppercase;
    color: #303137;
}

.brand .bolt {
    margin: 0 5px;
}

.brand .twin {
    font-weight: 900;
}

.brand .volt {
    color: yellow;
    font-weight: 900;
}

.topnav {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

}

.topnav .nav-link {
    text-decoration: none;
    padding-left: 20px;
    font-size: 18px;
}

.dropDownLink {
    display: none;
}

/* ---  Header  --- */
header {
    display: flex;
    justify-content: center;
}

.header-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 6rem 0;
}

.header-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    width: 100%
}

.header-container h1 {
    text-transform: uppercase;
    font-size: 28px;
    font-weight: 400;
    margin-top: 1.5rem;
}

/* ---  Services Section    --- */
.services {
    padding: 2rem 1rem;
}

.container1 {
    display: flex;
    flex-direction: column;
    /* max-width: 1140px; */
    width: 100%;
    margin: 0 auto;
    background-color: rgb(255, 255, 100);
}

.media-object {
    display: flex;
    align-items: center;
    padding: 2rem 1rem;
    border: 2px solid black;
    border-radius: 10px;
    margin: 2rem 0;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, .3);
}

.media-object.middle {
    margin: 0;
}

.icon-left, .icon-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.icon-left, .blurb-wrapper-left {
    order: 1;
}

.icon-1 {
    width: 256px;
    height: 178px;
    padding: 1rem 0;
}

.icon-2 {
    height: 178px;
    padding: 1rem 0;
}

.icon-3 {
    height: 178px;
    padding: 1rem 0;
}

.blurb-wrapper-right, .blurb-wrapper-left {
    flex: 1;
}

.blurb-wrapper-right, .icon-right {
    order: 2;
}

.blurb-header {
    font-size: 24px;
    margin-top: 0;
}

.blurb-info {
    color: #666;
    font-size: 18px;
}

.quote-btn-wrapper {
    display: flex;
    justify-content: center;
    margin-bottom: 2rem;
}

.quote-btn {
    background-color: rgb(202, 202, 202);
    color: whitesmoke;
    font-weight: 700;
    font-size: 18px;
    border-radius: 3px;
    border: none;
    padding: 0.8rem 4rem;
    box-shadow: 0 5px 20px 2px rgba(0, 0, 0, .3);
    transition: .2s ease-out;
}

.quote-btn:hover {
    transform: scale(1.1);
    background-color: black;
    color: rgb(255, 255, 100);
}

/* ---  Porfolio Section    --- */

.portfolio {
    padding: 0 1rem;
}

.container2 {
    display: flex;
    flex-direction: column;
    /* max-width: 1140px; */
    width: 100%;
    margin: 0 auto;
}

.section-header {
    text-align: center;
    padding: 6rem 0 4rem;
    font-size: 20px;
    line-height: 1.5rem;
}

.portfolio-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.portfolio-object {
    max-width: 150px;
    text-align: center;
    margin: 1rem 0;
}

.portfolio-img {
    border-radius: 50%;
    transition: .2s ease-out;
}

.portfolio-img:hover {
    cursor: grab;
    transform: scale(1.1);
    border: 3px solid rgb(255, 255, 100);
    border-radius: 50%;
    padding: 2px;
    box-shadow: 0 0 7px 5px rgba(0, 0, 0, 0.2);
}

/* ---  Mobile  --- */
@media (max-width: 768px) {

    .navbar {
        justify-content: space-between;
    }

    ul.topnav li a.nav-link {
        display: none;
    }

    ul.topnav li.dropDownLink {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive li.dropDownLink {
        display: block;
        position: absolute;
        top: 10px;
        right: 20px;
    }

    ul.topnav.responsive {
        flex-direction: column;
        text-align: right;
    }

    ul.topnav.responsive li {
        position: relative;
        top: 30px;
        right: 30px;
        line-height: 2rem;
    }

    ul.topnav.responsive li a.nav-link {
        display:block;
    }

    .dropDownMenu {
        text-decoration: none;
        color: #303137;
        font-size: 1.5rem;
    }
}

@media (max-width: 599px) {
    .media-object {
        display: flex;
        flex-direction: column;
    }

    .media-object.middle {
        flex-direction: column-reverse;
    }

    .portfolio-wrapper {
        display: flex;
        flex-direction: column;
    }

    .portfolio-object {
        display: block;
        margin: 1.5rem auto;
    }
}